@font-face {
  font-family: "Gotham Pro";
  src: url("/public/fonts/GothaProReg.ttf") format("woff"),
    url("/public/fonts/GothaProReg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gotham Pro", Helvetica, sans-serif;
  font-weight: 400;
}
